body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  grid-template-columns: 1fr 25%; /* main, aside */
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
header h1 {
  font-size: 1rem; /* reduce the font-size value */
}  

main {
  grid-area: main;
  padding: 20px;
  height: calc(100% - 50px);
}

section#drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#drop-area:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
#drop-area.highlight {
  background-color: #f7f7f7;
}

section p {
  font-size: 24px;
}

section#file_list {
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#file_list li:hover{
  cursor: pointer;
  background-color: #ccc;
}
aside {
  border-radius: 10px;
  grid-area: aside;
  padding: 20px 10px 20px 0;
}

#funcion_list{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funBtn{
  border: 2px dashed #ccc;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.funBtn:hover {
  cursor: pointer;
}
.funBtn:active {
  background-color: beige;
}
.funBtn:visited {
  background-color: #f7f7f7;
}

.funBtn_bottom {
  border: 2px dashed #ccc;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.funBtn_bottom:hover {
  cursor: pointer;
}
.funBtn_bottom:active {
  background-color: beige;
}
.funBtn_bottom:visited {
  background-color: #f7f7f7;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px; /* reduce the padding value */
  height: 50px; /* or set a fixed height value */
}
